.side-wrapper
  .side-wrapper__side-top

    .side-wrapper__side-top__inner-box
      .side-wrapper__side-top__inner-box
        %p.title OSAKA_TECH::EXPERT
    .side-wrapper__side-top__inner-box
      .side-wrapper__side-top__inner-box__right
        =link_to "#" do
          %i.fas.fa-user-edit
      .side-wrapper__side-top__inner-box__left
        %p.username yuyaosada

  .side-wrapper__side-bottom
    .side-wrapper__side-bottom__title
      .side-wrapper__side-bottom__title__left
        =link_to "#" do
          チャンネル
      .side-wrapper__side-bottom__title__right
        =link_to "#" do
          %i.fas.fa-plus
    .side-wrapper__side-bottom__inner-box
      %p #チャンネル名